aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
x11.pc
x11-xcb.pc
*~
libX11-*
