aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.log
config.status
config.sub
configure
configure.lineno
depcomp
doltcompile
doltlibtool
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
x11.pc
x11-xcb.pc
*~
libX11-*
local
TAGS
tags
.deps
.libs
.msg
*.lo
*.la
*.a
*.o
*~
.*sw?
*.pbxuser
*.mode1v3
obj*
build*
cscope*
