*~
*.3*
*.a
aclocal.m4
autom4te.cache
build*
ChangeLog
compile
Compose
compose.dir
compose.dir.l1
compose.dir.l2
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
cscope*
depcomp
.deps
doltcompile
doltlibtool
force
install-sh
ks_tables.h
*.la
.libs
libtool
libX11-*
*.lo
local
locale.alias
locale.alias.l1
locale.alias.l2
locale.dir
locale.dir.l1
locale.dir.l2
ltmain.sh
Makefile
Makefile.in
makekeys
MakeOut
missing
mkinstalldirs
*.mode1v3
.msg
*.o
obj*
*.pbxuser
stamp-h1
stamp-h2
.*sw?
tags
TAGS
x11.pc
x11-xcb.pc
XLC_LOCALE
XlibConf.h
